<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main-style.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo6E0nwsf0ijiCQZJBsq8Rs7Ptt4Na6l4&callback=initMap"></script>
</head>
<body>
<div id="trip-time-box" style='display:none'>{{trip_time}}</div>
<div id="menu-box">
    <div id="menu-title">
        Search Bus Trip
    </div>
    <form method="POST">
        <div style="font-weight: 800;">Departure Date:</div>
        <div><input type="time" name="time"></p></div>
        <div style="font-weight: 800;">Origin:</div>
        <div>
            <select name="origin">
                {% for stop in stops %}
                <option value="{{stop.id}}">{{stop.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div style="font-weight: 800;">Target:</div>
        <div>
            <div>
                <select name="target">
                    {% for stop in stops %}
                    <option value="{{stop.id}}">{{stop.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div><input id="search-button" type="submit" name="Search"></div>
    </form>
</div>
<div id='map'></div>
<script>
    function initMap() {
        var paloalto = {lat: 37.4419, lng: -122.1419};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: paloalto
        });
	$('#trip-time-box').fadeIn(400).delay(3000);
        tripPlan = {{data | safe}}
        if (tripPlan != null && tripPlan.length > 0) {
            drawTripPlan(map, tripPlan);
        }
    }
    function drawTripPlan(map, tripPlan) {
        //populate the list with the points for Polyline
        tripPlanList = [];
        function populateFlighPlanList(latLng) {
            console.log("añadiendo punto de la ruta...")
            console.log(latLng);
            var latLngFormatted = {lat: latLng.lat, lng: latLng.lon}
            tripPlanList.push(latLngFormatted)
        }

        tripPlan.forEach(populateFlighPlanList)

        //draw Polyline
        var tripPath = new google.maps.Polyline({
            path: tripPlanList,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });
        tripPath.setMap(map);

        //draw markers at origin and target points
        var originPoint = new google.maps.Marker({
            position: tripPlanList[0],
            title: 'Origin'
        });
        var targetPoint = new google.maps.Marker({
            position: tripPlanList[tripPlanList.length - 1],
            title: 'Target'
        });
        originPoint.setMap(map);
        targetPoint.setMap(map);

        //center map to center of trip path
        var center = tripPlanList[parseInt(tripPlanList.length / 2)]
        map.setCenter(center)
        map.setZoom(15)

        //draw marker for each intermediate stop
        tripPlanList.splice(0, 1)
        tripPlanList.splice(tripPlanList.length - 1, 1)
        function drawPathMarker(tripPlanPoint) {
            var point = new google.maps.Marker({
                position: tripPlanPoint,
                title: 'Intermediate Point',
                icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|0000FF'
            });
            point.setMap(map)
        }
        tripPlanList.forEach(drawPathMarker)
    }
</script>
</body>
</html>