<!DOCTYPE html>
<html>
<head>
    {{"decoupled-map"|googlemap_js(37.4419, -122.1419, markers=[(37.4419, -122.1419)])}}
    {{mymap.js}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main-style.css') }}">
</head>
<body>
<div id="menu-box">
    <div id="menu-title">
        Search Fly
    </div>
    <form method="POST">
        <div style="font-weight: 800;">Departure Date:</div>
        <div><input type="date" name="date"></p></div>
        <div style="font-weight: 800;">Origin:</div>
        <div>
            <select name="origin">
                {% for airport in airports %}
                <option value="{{airport.id}}">{{airport.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div style="font-weight: 800;">Target:</div>
        <div>
            <div>
                <select name="target">
                    {% for airport in airports %}
                    <option value="{{airport.id}}">{{airport.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div><input type="submit" name="Search"></div>
    </form>
</div>
{{googlemap("simple-map", 37.4419, -122.1419)}}
</div>
</body>
</html>