<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main-style.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo6E0nwsf0ijiCQZJBsq8Rs7Ptt4Na6l4&callback=initMap"></script>
</head>
<body>
<div id="bus-line-toast" style='display:none'>{{bus_line}}</div>
<div id="menu-box">
    <div id="menu-title">
        Search Bus Trip
    </div>
    <form method="POST">
        <div style="font-weight: 800;">Origin:</div>
        <div>
            <select name="origin">
                {% for stop in stops %}
                <option value="{{stop.id}}" {% if origin_selected==stop.id %} selected="selected"{% endif %}>{{stop.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div style="font-weight: 800;">Target:</div>
        <div>
            <div>
                <select name="target">
                    {% for stop in stops %}
                    <option value="{{stop.id}}" {% if target_selected==stop.id %} selected="selected"{% endif %}>{{stop.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div><input id="search-button" type="submit" name="Search"></div>
    </form>
</div>
<div id='map'></div>
<script>
    function getBusLineColor(busLine) {
        var colores = {
            'L1': '#0000FF',
            'L2': '#FF0000',
            'L3': '#008000',
            'L4': '#B57024',
            'L5': '#FF8000',
            'L6': '#8000FF',
            'L7': '#000000',
            'L8': '#FFFF00',
            'LC': '#808000',
            'RC': '#00FF00',
            'RM': '#00FFFF'
        };
        console.log(colores[busLine])
        return colores[busLine];
    }

    function initMap() {
        var paloalto = {lat: 37.4419, lng: -122.1419};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: paloalto
        });
        var tripPlan = {{data | safe}}
        console.log(tripPlan)
        if (tripPlan != null && tripPlan.length > 0) {
            drawTripPlan(map, tripPlan);
        }
    }
    function drawTripPlan(map, tripPlan) {
        //populate the list with the points for Polyline
        var tripPlanList = [];
        var busLineList = [];

        polylineBusLine = [];

        function populateFlighPlanList(busPath) {
            console.log("añadiendo punto de la ruta...");
            console.log(busPath);
            var latLngFormatted = {lat: busPath.lat, lng: busPath.lon};
            tripPlanList.push(latLngFormatted);
            if (busPath.bus_line !== null && busPath.bus_line !== undefined)
                busLineList.push(busPath.bus_line)
        }

        function drawPolylinesForTrips(tripPlanList, busLineList) {
            console.log(busLineList);
            for (var i = 0; i < busLineList.length; i++) {

                var path = [];
                path.push({lat:tripPlanList[i].lat, lng:tripPlanList[i].lng});
                path.push({lat:tripPlanList[i+1].lat, lng:tripPlanList[i+1].lng});

                //draw Polyline
                var tripPath = new google.maps.Polyline({
                    path: path,
                    geodesic: true,
                    strokeColor: getBusLineColor(busLineList[i]),
                    strokeOpacity: 1.0,
                    strokeWeight: 15
                });
                polylineBusLine.push({polyline: tripPath, busLine: busLineList[i]})
                google.maps.event.addListener(tripPath, 'click', function () {
                    handlePolyClick(this);
                });
                function handlePolyClick(polyline){
                    for(var i = 0; i< polylineBusLine.length; i++){
                        console.log(polyline);
                        console.log(polylineBusLine[i].polyline);
                        if(polyline === polylineBusLine[i].polyline){
                            $('#bus-line-toast').fadeIn(400).delay(3000).text(polylineBusLine[i].busLine);
                            console.log(polylineBusLine[i].busLine);
                        }
                    }
                }
                tripPath.setMap(map);
            }
        }

        tripPlan.forEach(populateFlighPlanList);
        drawPolylinesForTrips(tripPlanList, busLineList)
        //InfoWindow for markers
        var contentString = '<div id="content">' +
                '<div id="siteNotice">' +
                '</div>' +
                '<h1 id="firstHeading" class="firstHeading">Uluru</h1>' +
                '<div id="bodyContent">' +
                '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
                'sandstone rock formation in the southern part of the ' +
                'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) ' +
                'south west of the nearest large town, Alice Springs; 450&#160;km ' +
                '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major ' +
                'features of the Uluru - Kata Tjuta National Park. Uluru is ' +
                'sacred to the Pitjantjatjara and Yankunytjatjara, the ' +
                'Aboriginal people of the area. It has many springs, waterholes, ' +
                'rock caves and ancient paintings. Uluru is listed as a World ' +
                'Heritage Site.</p>' +
                '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">' +
                'https://en.wikipedia.org/w/index.php?title=Uluru</a> ' +
                '(last visited June 22, 2009).</p>' +
                '</div>' +
                '</div>';

        var infoWindow = new google.maps.InfoWindow({
            content: contentString
        });

        //draw markers at origin and end points
        var originPoint = new google.maps.Marker({
            position: tripPlanList[0],
            title: 'Origin'
        });
        var targetPoint = new google.maps.Marker({
            position: tripPlanList[tripPlanList.length - 1],
            title: 'Target'
        });
        originPoint.addListener('click', function () {
            infoWindow.open(map, originPoint)
        });
        originPoint.setMap(map);
        targetPoint.addListener('click', function () {
            infoWindow.open(map, targetPoint)
        });
        targetPoint.setMap(map);

        //center map to center of trip path
        var center = tripPlanList[parseInt(tripPlanList.length / 2)]
        map.setCenter(center)
        map.setZoom(15)

        //draw marker for each intermediate stop
        tripPlanList.splice(0, 1)
        tripPlanList.splice(tripPlanList.length - 1, 1)
        function drawPathMarker(tripPlanPoint) {
            var point = new google.maps.Marker({
                position: tripPlanPoint,
                title: 'Intermediate Point',
                icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|0000FF'
            });
            point.setMap(map)
        }

        tripPlanList.forEach(drawPathMarker)
    }
</script>
</body>
</html>